# Arquivos de compilação LaTeX
*.aux
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.toc
*.xdv

# Arquivos de lock e trace do MiKTeX
*.lock
*Trace.log

# Arquivos de sistema / editor
.DS_Store
Thumbs.db
.lesshst
*.swp


# Configuração pessoal do Git
.gitconfig

editions/*/preview/preview.pdf
editions/*/main/main.pdf